*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --background: black;
    --color: white;
    --second-color: #a09dab;
    --main-color: #FF029E;
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
}
body{
    background-color: var(--background);
    color: var(--color);
}
header{
    position:fixed;
    width: 100%;
    top:0;
    right:0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 30px 15%;
    transition: .2s;
}

.logo img{
    max-width: 100%;
    width: 80px;
    height: auto;
}

.navbar{
    display: flex;
}
.navbar li{
    position: relative;  
    list-style: none; 
}
.navbar a{
    font-size: var(--p-font);
    color: var(--color);
    font-weight: 500;
    padding: 10px 27px;
}
.navbar a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: var(--main-color);
    bottom: -3px;
    left: 0;
    transition:  ease .40s;
}
.navbar a:hover::after{
    width:100%;

}

#menu-icon{
    font-size: 35px;
    color: var(--color);
    z-index: 10001;
    cursor: pointer;
    display: none;
}


.home-text h1{
    margin:10px 0px 25px;
    font-size: var(--big-font);
    line-height: 1;
    font-weight: 500;
}
.home-text h5{
    margin-bottom: 23px;
    font-size: 19px;
    font-weight: 10;
}

section{
    padding: 130px 18%;
}
.home{
    min-height: 100vh;
    height: 100%;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 4rem;
}
.hometext h2{
    margin: 10px 0px 25px;
    font-size: 40px;
    
}
.hometext h5{
    margin-bottom: 23px;
    font-size: 19px;
    font-weight: 500;
}
.hometext h3{
    font-size: 20px;
    font-weight: 500;
}

.hometext p{
    font-size: var(--p-font);
    color: var(--second-color);
    line-height: 28px;
    margin-bottom: 20px;
}
.homeimg{
    max-width: 100%;
    width: 540px;
    height: auto;
}
.homeimg img{
    width: 650px;
    height: auto;
}
.ColorUCL{
    color: #FF029E;
}
.social a{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #FF029E;
    margin-bottom: 20px;
    font-size: 17px;
    margin-right: 5px;
}

.social a:hover{
    transform: scale(1.1);
    transition: .5s;
    background: white;
}

.btn{
    display: inline-block;
    color: var(--background);
    font-size: var(--p-font);
    background: white;
    padding: 10px 40px;
    font-weight: 500;
    line-height: 24px;
    border-radius: 30px;
    transition: ease .40s;
}
.btn:hover{
    transition: scale(1.1);
    background-color: #FF029E;
}

header.sticky{
    background: var(--background);
    padding: 13px 18%;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
}
.items{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    grid-gap: 2rem;
    align-items: center;
    text-align: center;
}

.sub-box{
    margin-top: -200px;
    padding: 45px 45px 45px 45px;
    transition: ease .50s;
    cursor: pointer;
}
.sub-img img{
    max-width: 100%;
    width: 90px;
    height: auto;
    margin-bottom: 20px;
}

.sub-box h3{
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 400;
}
.sub-box p{
    font-size: var(--p-font);
    color: var(--second-color);
    line-height: 30px;
}
.sub-box:hover{
    background: #ffffff;
    box-shadow: 18px 0px 87px rgb(10 15 70 / 7%);
    border-radius: 12px;
    will-change: transform;
    transform: perspective(1000px) rotateX(4.80deg) rotateY(10.23deg) scale3d(1.05,1.05, 1.05);
}
.about{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-items: center;
    grid-gap: 2rem;
}
.about-img img{
    max-width: 100%;
    width: 1000px;
    height: auto;
    border-radius: 30%;
}

.about-text h2{
    font-size: 40px;
    font-weight: 400;
    margin: 8px 0px 25px;
    line-height: 1.1;
}
.about-text h3{
    color: var(--main-color);
    font-size: 20px;
    font-weight: 500;
}

.about-text p{
    max-width: 550px;
    font-size: var(--p-font);
    color: var(--second-color);
    line-height: 28px;
    margin-bottom: 45px;
}
.heading{
    text-align: center;
}

.heading h2{
    font-size: var(--h2-font);
    font-weight: 500;
    margin: 7px 0px 20px;
    line-height: 1.1;
}
.heading h3{
    color: var(--main-color);
    font-size: 20px;
    font-weight: 500;
}
.heading p{
    font-size: var(--p-font);
    color: var(--second-color);
    line-height: 28px;
}

.projects-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px,auto));
    grid-gap: 2rem;
    align-items: center;
    margin-top: 5rem;
    text-align: center;
    cursor: pointer;

}

.col{
    position: relative;
}
.col img{
    max-width: 100%;
    width: 550px;
    height: auto;
    object-fit: cover;
    border-radius: 12px;
}

.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 12px;
    transition: all .40s;
}
.layer:hover{
    background: linear-gradient(rgba(0,0,0,0.5) 0%, #191919);
}

.layer h3{
    position: absolute;
    width: 100%;
    font-size: 25px;
    font-weight: 500;
    color: var(--background);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all .40s;
}

.layer:hover h3{
    bottom: 50%;
    opacity: 1;
    color: white;
}