body{
    background-color: #EFE6DD;
    color: #0D0D0D;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 75%;
    margin: 0 auto;
    padding: 2%;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

title{
    display: flex;
    flex-direction: column;
    line-height: 8%;
}

li{
    display: inline-block;
    margin: 30px;
}

h1{
    font-weight: 1000;
}

h2{
    font-size: 36px;
    line-height: 80%;
    margin-top: 20%;
    margin-bottom: 0%;
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 70px;
}

span{
    color: #F86F89;
}

p{
    line-height: 20px;
    max-width: 500px;
    margin-top: 50px;
}

img{
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    clip-path: inset(20px 50px 10px 0 round 50px);
}

a{
    color: #7C7C48;
}

a:hover{
    color: #F86F89;
    transition: 0.4s all;
}

form{
    display: flex;
    flex-direction: column;
    width: 50%;
}

input{
    margin-top: 20px;
    height: 30px;
    padding: 13px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}

form [type=submit]{
    height: 50%;
    width: 80%;
    background-color: #F86F89;
    color: #F8F9FB;
    font-weight: bold;
}

form [type=submit]:hover{
    cursor: pointer;
}