@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
    }
    main {
        flex-direction: column;
        align-items: center;
    }
    img {
        display: none;
    }
    ul {
        text-align: center;
    }
    p {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    footer {
        align-self:flex;
    }
    aside {
        width: 40%;
    }
}

